# Mẫu cấu hình biến môi trường
DATABASE_URL=postgresql://<user>:<password>@<host>/<dbname>
SECRET_KEY=my_super_secret_key_32_bytes_len
AES_KEY=my_aes_secret_key_32_bytes_lengt
AES_IV=my_aes_16bytes_i
